.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.envelope {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}